.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.login {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.button {
	background-color: #A384DD;
	display: inline-block;
	color: white;
	padding: 10px 5px;
}
.buttonActive {
	background-color: #3A0E85;
	display: inline-block;
	color: white;
	padding: 10px 5px;
}
.buttons {
	display: inline-block;
	margin-top: 5px;
}
.button:hover{
	background-color: #3A0E85;
	cursor: pointer;
}
.container{
		margin: auto;
		width: 70%;
		padding: 10px;
		text-align: center;
}
.comment {
	padding-left: 10px;
	text-align: left;
	border-left: 5px solid #3A0E85;
	margin-bottom: 10px;
}
.commentReply { 
	padding-left: 10px;
	text-align: left;
	border-left: 3px solid #A384DD;
	margin-top: 8px;
}
.smallButton {
	background-color: #A384DD;
	display: inline-block;
	color: white;
	margin: 0 4px;
	padding: 3px 3px;
}
.smallButton:hover{
	background-color: #3A0E85;
	cursor: pointer;
}
.date {
	color: #8259C8;
	margin-bottom: 5px;
}
.author {
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 5px;
}
.nothing {
	margin-top:10px;
	font-size: 20px;
	font-weight: 600;
}
.passwordTitle {
	margin-top: 10px;
	margin-right: 5px;
	font-size: 15px;
	font-weight: 600;
}
.passwordSubmit {
	color: white;
	background-color: #A384DD;
	border: none;
	margin-left: 5px;
}
.passwordSubmit:hover{
	background-color: #3A0E85;
	cursor: pointer;
}
.commentBody {
	width: 100%;
	min-height: 50px;
}