root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[{*.go, Makefile}]
indent_style = tab
indent_size = 4

[{*.css, *.js, *.jsx, *.json, *.ejs}]
indent_style = space
indent_size = 2
