.mouthful_wrapper {
    .mouthful_submit {
        padding: 4px 8px;
        margin-right: 10px;
        border-color: #ce1458;
        border-style: solid;
        border-width: thin;
        border-radius: 5px;
        background-color: white;
        display: inline-block;
        font-size: 17px;
    }
    .mouthful_reply_button {
        padding: 4px 8px;
        margin-right: 10px;
        background-color: white;
        border-color: #ce1458;
        border-style: solid;
        border-width: thin;
        border-radius: 5px;
        font-size: 14px;
        display: block;
    }

    .mouthful_error {
        font-size: 15px;
        color: #ce1458;
        font-style: italic;
    }


    .mouthful_moderation {
		margin-left: 5px;
		font-size: 12px;
		color: #ce1458;
		font-style: italic;
    }
    .mouthful_reply_button:hover {
        color: #ce1458;
        text-decoration: underline;
        cursor: pointer;
    }
    .mouthful_submit:hover {
        color: #ce1458;
        text-decoration: underline;
        cursor: pointer;
    }
    .mouthful_comment {
		margin: 20px 0;
		border-left: 4px solid #8e8e8d;
		padding-left: 12px;
    }
    .mouthful_comment:focus {
        outline: none;
    }
    .mouthful_comment_reply {
        margin: 1em 0;
        text-align: left;
        padding-left: 24px;        
        border-left: 2px solid #8e8e8d;
    }
    .mouthful_comment_reply:focus {
        outline: none;
    }
    .mouthful_date {
		margin-left: 5px;
		color: #7f8c8d;
		font-size: 12px;
		font-weight: normal;
        margin-bottom: 5px;
    }
    .mouthful_author {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .mouthful_comment_body {
        width: 96%;
        word-wrap: break-word;
		margin: 20px 0;
    }
    .mouthful_form {
		margin: 20px 0;
        display: block;
    }
    .mouthful_form_invisible {
        display: none;
    }
    .mouthful_author_input {
        border-radius: 2px;
        box-shadow: 0 0 2px #888;
        padding: 10px 10px;
		border-width: 1px;
		font-size: 17px;
		margin-bottom: 20px;
        display: block;
    }
   
    .mouthful_author_input:focus {
        outline-width: 0;
        border-color: #ce1458;
        box-shadow: none;
    }
    .mouthful_comment_input {
        border: 1px solid #f0f0f0;
        border-radius: 2px;
        box-shadow: 0 0 2px #888;
		display: block;
		margin-bottom: 20px;
		font-size: 17px;
		padding: 10px 10px;
		width: 96%;
    }
    .mouthful_comment_input:focus {
        outline-width: 0;
        border-color: #ce1458;
        box-shadow: none;
    }
    .mouthful_word_counter{
        font-size:16px;
        font-style: italic;
        margin-left: 20px;
    }
    .mouthful_word_counter_error{
        font-size:16px;
        font-style: italic;
        margin-left: 20px;
        color: #ce1458;
    }
    .mouthful_comment_replies {
        padding-left: 24px;        
    }
}